# Project: Data Analysis with Pandas

In this project, you will work with a dataset containing information about movies and shows. You will use the pandas library to read, clean, and analyze the data. This project will help you practice working with DataFrames, indexing, and data manipulation using pandas.


## Dataset Description

The dataset `movies_and_shows.csv` contains information about various movies and shows, including:

- **name**: The name of the actor or actress.
- **Character**: The character they played.
- **r0le**: The role type (e.g., ACTOR).
- **TITLE**: The title of the movie or show.
- **Type**: Whether it's a MOVIE or SHOW.
- **release Year**: The year it was released.
- **genres**: A list of genres the movie or show belongs to.
- **imdb sc0re**: The IMDb score of the movie or show.
- **imdb v0tes**: The number of votes on IMDb.

Here's a small sample of the dataset:

| name              | Character                         | r0le   | TITLE        |  Type | release Year | genres             | imdb sc0re | imdb v0tes |
|-------------------|-----------------------------------|--------|--------------|-------|--------------|--------------------|------------|------------|
| Robert De Niro    | Travis Bickle                     | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Jodie Foster      | Iris Steensma                     | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Albert Brooks     | Tom                               | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Harvey Keitel     | Matthew 'Sport' Higgins           | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |
| Cybill Shepherd   | Betsy                             | ACTOR  | Taxi Driver  | MOVIE | 1976         | ['drama', 'crime'] | 8.2        | 808582     |

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/datasets/movies_and_shows.csv")

In [ ]:
df.head()

,name,Character,r0le,TITLE,Type,release Year,genres,imdb sc0re,imdb v0tes
0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0      name       85579 non-null  object
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85578 non-null  object
 4     Type        85579 non-null  object
 5   release Year  85579 non-null  int64
 6   genres        85579 non-null  object
 7   imdb sc0re    80970 non-null  float64
 8   imdb v0tes    80853 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 5.9+ MB

## Task 1: Data Cleaning

Let's clean the data to fix issues with the column names

**Instructions:**
- Rename the columns to correct any errors and make them consistent.

**Hints:**

- Use the `.rename()` method to rename columns.
- Pass a dictionary to the `columns` parameter of `.rename()`, where the keys are the old column names and the values are the new names.
- Remove unnecessary whitespace from the column names.

In [ ]:
df = df.rename(columns = {
    '   name' : 'name',
    'Character' : 'character',
    'r0le' : 'role',
    'TITLE' : 'title',
    '  Type' : 'type',
    'release Year' : 'release_year',
    'genres':'genres',
    'imdb sc0re' : 'imdb_score',
    'imdb v0tes' : 'imdb_votes',
    })

In [ ]:
df.columns

Index(['name', 'character', 'role', 'title', 'type', 'release_year', 'genres',
       'imdb_score', 'imdb_votes'],
      dtype='object')

## Task 2: Correcting a Misspelled Name in the Data

While analyzing the dataset, you notice that some names are misspelled or contain special characters due to encoding issues. Accurate data is essential for reporting and recommendations, so let’s correct one of these entries.

### Instructions

1. **Locate the Row with the Incorrect Name**:
   - Use `.loc[]` to retrieve the row where `name` is `"In??s Prieto"`.
   - You can locate a row based on the index (85576) and column name called "name".
   - Print the row to verify that you have the correct one.


2. **Correct the Name**:
   - Using `.loc[]`, update the `name` column for this row to "Ines Prieto."
   
3. **Verify the Correction**:
   - Print the row again to ensure that the name has been corrected.

In [ ]:
df.loc[85576,'name']

'In??s Prieto'

In [ ]:
df.loc[85576, 'name'] = 'Ines Prieto'

In [ ]:
df.loc[85576, 'name']

'Ines Prieto'

## Task 3: Finding All Movies and Shows Featuring Ines Prieto

Now that we've corrected the spelling of "Ines Prieto" in the dataset, let's find all the TV shows and movies she has acted in. This type of filtering is helpful for generating actor-specific profiles or building a list of their works.

### Instructions

1. **Filter by Actor’s Name**:
   - Use a filtering condition to select rows where the `name` column is equal to `"Ines Prieto"`.
   
2. **Display Relevant Columns**:
   - From each matching row, retrieve only the `title`, `release_year`, `imdb_score`, and `genres` columns for a clear, concise output.

**Hint:**

To filter rows based on a specific value in a column, use a condition inside df[ ... ]. In this case, check if the name column equals "Ines Prieto". Then, select only the columns you need (like title, release_year, imdb_score, and genres) by specifying them in double brackets [ [ ... ] ].

In [ ]:
filtered_df = df[(df['name'] == 'Ines Prieto')
    ][['title','release_year', 'imdb_score','genres']]

In [ ]:
filtered_df

         title  release_year  imdb_score      genres
85576  Lokillo          2021         3.8  ['comedy']

## Task 4: Finding Highly Rated Movies

We want to identify movies with an IMDb rating of at least **9.0**. This list could be helpful for curating a "Top Movies" section based on high ratings.

### Instructions

1. **Filter for High IMDb Scores**:
   - First, filter the DataFrame to include only rows where the `imdb_score` is greater than 9.0.

2. **Extract the Titles**:
   - From this filtered DataFrame, select only the `title` column, which contains the names of the movies.

3. **Get Unique Titles**:
   - Convert the resulting list of titles to a set to remove any duplicate titles. Using `set()` will keep only unique movie names.

   - *Example*: `unique_titles = set(high_score_titles)`

4. **Print the Unique Titles**:
   - Display the final set of unique movie titles to see the list of top-rated movies.

In [ ]:
top_movies = df[(df['imdb_score'] > 9.0)]['title']

unique_titles = set(top_movies)

print(unique_titles)

{'My Mister', 'Kota Factory', 'The Last Dance', 'Reply 1988', 'Our Planet', 'Breaking Bad', 'Avatar: The Last Airbender', 'Major'}

## Task 5: Creating a Function to Find Unique Top-Rated Movies

In this task, we’ll create a function to find unique movies with an IMDb score above a certain threshold that the user provides.

### Instructions

1. **Define the Function**:
   - Start by creating a function called `get_unique_top_movies` that takes one parameter, `min_score`.

2. **Filter the Data**:
   - Inside the function, create a new variable (e.g., `high_score_df`) that stores rows where the `imdb_score` is greater than or equal to `min_score`.

3. **Extract Movie Titles**:
   - In a new variable (e.g., `high_score_titles`), select the `title` column from the filtered DataFrame.

4. **Remove Duplicate Titles**:
   - Convert `high_score_titles` to a set using `set(high_score_titles)` to automatically remove duplicates, ensuring each title appears only once.

5. **Return the Unique Titles**:
   - Make sure the function returns the `unique_titles` set.

In [ ]:
def get_unique_top_movies(min_score):
    high_score_df = df[df['imdb_score'] >= min_score]
   


    high_score_titles = high_score_df['title']


    unique_titles = set(high_score_titles)


    return unique_titles

In [ ]:
print(get_unique_top_movies(9.0))

{'Attack on Titan', 'My Mister', 'Kota Factory', 'Major', 'Okupas', 'The Last Dance', 'Arcane', 'Reply 1988', 'Our Planet', 'Breaking Bad', 'Avatar: The Last Airbender', 'Leah Remini: Scientology and the Aftermath', 'DEATH NOTE', 'Hunter x Hunter'}

## Task 6: Creating a Function to Find Top Movies from a Specific Decade

Let’s create a function to retrieve movies from a particular decade with high IMDb ratings. This function can be useful for generating lists of top-rated movies from different time periods.

### Instructions

1. **Define the Function**:
   - Create a function called `get_top_movies_from_decade` that accepts `decade_start` and `min_score` as parameters.

2. **Filter by Decade**:
   - Inside the function, filter the DataFrame to include only movies where `release_year` is within the specified decade.
   - *Hint*: You can achieve this by checking that `release_year` is between `decade_start` and `decade_start + 9`

3. **Filter by IMDb Score**:
   - Further filter this subset to include only movies where `imdb_score` is greater than or equal to `min_score`.

4. **Extract Movie Titles**:
   - From the resulting DataFrame, select the `title` column and remove duplicates using set().

5. **Return the List of Titles**:
   - Return the set of the best movies from that decade.

By completing this task, you’ll have a function that returns unique, top-rated movies from a specified decade. This is useful for highlighting standout movies from different eras, perfect for “Best of the Decade” features!

In [ ]:
def get_top_movies_from_decade(decade_start, min_score):
    best_of_decade_df = df[(df['release_year'] >= decade_start) &
                        (df['release_year'] <= decade_start + 9)]


    best_of_decade_df = best_of_decade_df[best_of_decade_df['imdb_score'] >= min_score]


    best_of_decade = set(best_of_decade_df['title'])\

    return best_of_decade

In [ ]:
print(get_top_movies_from_decade(1990, 8.5))

{'Neon Genesis Evangelion', 'GoodFellas', 'Cowboy Bebop', 'Se7en', 'One Piece', 'Forrest Gump', 'Bill Hicks: Revelations', 'L??on: The Professional'}


## Task 7: Creating a Function to List All Actors in a Given Title

Imagine you want to list all the actors in a specific movie or show. Let’s create a function that takes a `title` as input and returns the names of all actors in that title, combined into a single string.


### Instructions

1. **Define the Function**:
   - Create a function called `get_actors_for_title` that accepts one parameter, `title`.
   
2. **Filter by Title and Role**:
   - Inside the function, filter the DataFrame to select rows where the `title` column matches the provided `title` parameter and the `role` column is `"ACTOR"` (to ensure you only retrieve actors).

3. **Extract Actor Names**:
   - From this filtered DataFrame, select only the `name` column to get the actor names.

4. **Combine Names into a Single String**:
   - Use `', '.join()` to combine the list of actor names into a single string, with each name separated by a comma.

5. **Return the Result**:
   - Return the resulting string of actor names.


This function will allow you to retrieve and format a list of actors for any movie or show title, which is useful for creating cast lists or displaying actors for specific titles.

In [ ]:
def get_actors_for_title(title):
    cast_list_df = df[(df['title'] == title) &
                    (df['role'] == 'ACTOR')]


    cast_list = cast_list_df['name']


    cast = ', '.join(cast_list)


    return cast

In [ ]:
print(get_actors_for_title("Taxi Driver"))

Robert De Niro, Jodie Foster, Albert Brooks, Harvey Keitel, Cybill Shepherd, Peter Boyle, Leonard Harris, Diahnne Abbott, Gino Ardito, Martin Scorsese, Murray Moston, Richard Higgs, Bill Minkin, Bob Maroff, Victor Argo, Joe Spinell, Robinson Frank Adu, Brenda Dickson, Norman Matlock, Harry Northup, Harlan Cary Poe, Steven Prince, Peter Savage, Nicholas Shields, Ralph S. Singleton, Annie Gagen, Carson Grant, Mary-Pat Green, Debbi Morgan, Don Stroud, Copper Cunningham, Garth Avery, Nat Grant, Billie Perkins, Catherine Scorsese, Charles Scorsese, Odunlade Adekola, Ijeoma Grace Agu

## Task 8: Creating a Function to Categorize Movies by IMDb Score

Let’s categorize movies and shows based on their IMDb scores to provide a quick evaluation of their popularity or quality. We’ll create a function that takes in a `title` and returns a rating category based on the movie or show’s IMDb score.

### Rating Categories

- **Excellent**: IMDb score of 9.0 or higher
- **Good**: IMDb score between 7.0 and 8.9
- **Average**: IMDb score between 5.0 and 6.9
- **Low**: IMDb score below 5.0

### Instructions

1. **Define the Function**:
   - Create a function called `categorize_imdb_score` that accepts one parameter, `title`.

2. **Filter by Title**:
   - Inside the function, filter the DataFrame to find the row where `title` matches the given title.

3. **Retrieve IMDb Score**:
   - If the title exists, retrieve the `imdb_score` for that movie or show.
   - If the title is not found, return `"Title not found"`.

4. **Categorize Score with `if-else`**:
   - Use `if-elif-else` statements to evaluate the `imdb_score` and return one of the rating categories based on the ranges provided.

5. **Return the Category**:
   - Return the appropriate category based on the score.

This function allows you to quickly categorize movies or shows by their IMDb score, which could be helpful for creating rating tags or recommending top-rated content.

In [ ]:
def categorize_imdb_score(title):
    imdb_score_df = df[df['title'] == title]

    if imdb_score_df.empty:
        return 'Movie not found'


    imdb_score = imdb_score_df['imdb_score'].iloc[0]


    if imdb_score >= 9.0:
        return 'Excellent'
    
    elif imdb_score >= 7.0:
        return 'Good'

    elif imdb_score >= 5.0:
        return 'Average'

    else: 
        return 'Low'

In [ ]:
print(categorize_imdb_score("Taxi Driver"))

Good